<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.rainsc.spzx.manager.Mapper.CategoryMapper">
    <!-- 用于select查询公用抽取的列 -->
    <sql id="columns">
        id,
        name,
        image_url,
        parent_id,
        status,
        order_num,
        create_time,
        update_time,
        is_deleted
    </sql>

    <!-- 查询下层分类 -->
    <select id="selectCategoryByParentId" resultType="org.rainsc.spzx.model.entity.product.Category">
        <!-- 包含公用列 -->
        select
        <include refid="columns">
        </include>
        from category
        where parent_id = #{id}
          and is_deleted = 0
        order by id
    </select>

    <!-- 查询指定父分类下的子分类数量 -->
    <select id="selectCountByParentId" resultType="int">
        select count(*)
        from category
        where parent_id = #{id}
          and is_deleted = 0
    </select>
    <!--    查询所有分类列表-->
    <select id="findAll" resultType="org.rainsc.spzx.model.entity.product.Category">
        select
        <include refid="columns">
        </include>
        from category
        where is_deleted = 0
        order by id
    </select>
    <!--批量保存分类-->
    <insert id="batchInsert">
        insert into category(id,
                             name,
                             image_url,
                             parent_id,
                             status,
                             order_num,
                             create_time,
                             update_time,
                             is_deleted)
        values
        <foreach collection="cacheDataList" item="item" separator="," open="" close="">
            (#{item.id},
             #{item.name},
             #{item.imageUrl},
             #{item.parentId},
             #{item.status},
             #{item.orderNum},
             now(),
             now(),
             0)
        </foreach>
    </insert>
</mapper>
