<?xml version="1.0" encoding="UTF-8"?>
<project version="4">
  <component name="MyBatisCodeHelperDatasource">
    <option name="projectProfile">
      <ProjectProfile>
        <option name="mapperFilesFolder" value="E:\learning\2024\spzx\spzx-server\manager\src\main\resources\mapper\menu" />
        <option name="mapperFilesFolderList">
          <list>
            <option value="E:\learning\2024\spzx\spzx-server\manager\src\main\resources\mapper\role" />
            <option value="E:\learning\2024\spzx\spzx-server\manager\src\main\resources\mapper\menu" />
          </list>
        </option>
      </ProjectProfile>
    </option>
  </component>
</project>